body {
  margin: 0;
  padding: 0;
}

.wraper {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #047533;
}

.video__switch {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  z-index: 4;
}

.video__switch2 {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  z-index: 0;
}

.video__switch-text {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 5px 10px;
  border: 1px solid rgba(238, 237, 237, 0);
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 5;
}

.video__switch-text:hover {
  border: 1px solid white;
}

.video__switch-text2 {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 5px 10px;
  border: 1px solid rgba(238, 237, 237, 0);
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.video__switch-text2:hover {
  border: 1px solid white;
}

.video {
  width: 100%;
  position: relative;
  max-height: 97vh;
  overflow: hidden;
  background-image: url("../images/fon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video:after {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 36, 4, 0.4);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.video__intro {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.video__box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  text-align: center;
  padding-top: 20px;
  display: block;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.video__box2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  text-align: center;
  padding-top: 20px;
  display: none;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.video__title {
  font-size: 30px;
  font-weight: 700;
  color: #06ad38;
}

.video__text {
  margin: 10px auto;
  width: 300px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #3006e9;
}

.video__btn {
  border: 2px solid blue;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0);
  padding: 10px 50px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3006e9;
  -webkit-box-shadow: 2px 2px 2px #2626f8;
          box-shadow: 2px 2px 2px #2626f8;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: inset 3px 3px 1px #2626f8;
          box-shadow: inset 3px 3px 1px #2626f8;
}

@media (min-width: 450px) {
  .video__title {
    font-size: 50px;
    padding-top: 50px;
  }
}

@media (min-width: 650px) {
  .video__title {
    padding-top: 50px;
  }
  .video__text {
    width: 400px;
    font-size: 32px;
    line-height: 38px;
  }
  .video__btn {
    padding: 10px 70px;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (min-width: 800px) {
  .video__title {
    margin-top: 60px;
    font-size: 70px;
  }
  .video__text {
    width: 400px;
    font-size: 34px;
    line-height: 40px;
  }
  .video__btn {
    padding: 15px 90px;
    font-size: 25px;
    font-weight: 600;
  }
}

@media (min-width: 1100px) {
  .video__btn {
    margin-top: 120px;
  }
}

.main {
  min-width: 250px;
  height: 1300px;
  margin: 30px 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: none;
}

.about {
  margin: 0px auto;
  width: 810px;
}

.about__box {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: cadetblue;
  background: linear-gradient(-45deg, transparent 30px, cadetblue 0);
  display: block;
}

.about__box2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: cadetblue;
  background: linear-gradient(45deg, transparent 20px, cadetblue 0);
  display: none;
}

.about__title {
  margin: 10px auto;
  max-width: 800px;
  font-size: 50px;
  font-weight: 600;
  color: mediumblue;
}

.about__text {
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: mediumblue;
}

.about__img {
  margin: 0 auto;
  max-width: 500px;
  height: 600px;
  overflow: hidden;
  background-image: url("../images/my-foto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .main {
    height: 1000px;
  }
  .about {
    margin: 0 auto;
    width: 480px;
  }
  .about__title {
    font-size: 40px;
  }
  .about__text {
    font-size: 20px;
  }
  .about__img {
    width: 400px;
    height: 450px;
  }
}

@media (max-width: 600px) {
  .main {
    height: 1100px;
  }
  .about {
    width: 280px;
  }
  .about__box {
    padding: 10px 5px 50px;
  }
  .about__box2 {
    padding: 10px 5px 50px;
  }
  .about__title {
    margin: 0 auto;
    width: 280px;
    font-size: 30px;
  }
  .about__text {
    margin: 0 auto;
    width: 280px;
    font-size: 20px;
  }
  .about__img {
    width: 280px;
    height: 300px;
  }
}

.footer {
  min-width: 260px;
  height: 80px;
  background-color: #06023f;
  margin: 0;
}

.footer__block {
  margin: 0;
  padding-top: 25px;
  width: 100%;
  text-align: center;
}

.footer__email {
  color: #07bb25;
  font-size: 25px;
}

.articles {
  min-width: 280px;
  height: 545px;
  padding: 10px 0;
  margin: 20px 0;
  overflow: hidden;
  display: block;
}

.article__list {
  width: 100%;
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.articles2 {
  position: relative;
  min-width: 280px;
  height: 545px;
  padding: 10px 0;
  margin: 0px 0;
  overflow: hidden;
  display: none;
}

.article__list2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.articles__title {
  margin: 0 auto;
  min-width: 260px;
  font-size: 50px;
  font-weight: 500;
  color: darkblue;
  text-align: center;
  padding-top: 10px;
}

.articles__text {
  margin: 15px auto;
  padding: 0 50px;
  max-width: 900px;
  font-size: 30px;
  color: darkblue;
}

.bt-git {
  margin: 40px auto;
  max-width: 450px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid blue;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 5px blue;
          box-shadow: 0px 1px 5px blue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 30px;
  opacity: 1;
}

.bt-git:hover {
  -webkit-box-shadow: 0px 5px 5px blue;
          box-shadow: 0px 5px 5px blue;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: blue;
}

@media (max-width: 900px) {
  .articles {
    height: 450px;
  }
  .articles2 {
    height: 400px;
  }
  .articles__title {
    font-size: 40px;
  }
  .articles__text {
    max-width: 500px;
    font-size: 20px;
  }
  .bt-git {
    width: 300px;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .articles {
    height: 700px;
  }
  .articles2 {
    height: 630px;
  }
  .articles__title {
    width: 280px;
    font-size: 30px;
  }
  .articles__text {
    width: 280px;
    padding: 0 10px;
  }
  .bt-git {
    width: 260px;
    font-size: 16px;
  }
}

.news__article {
  min-width: 280px;
  height: 350px;
  margin: 10px 0;
  padding: 10px 0;
  overflow: hidden;
  display: block;
}

.news__article-list3 {
  width: 100%;
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news__article4 {
  position: relative;
  min-width: 280px;
  height: 350px;
  margin: 10px 0;
  padding: 10px 0;
  overflow: hidden;
  display: none;
}

.news__article-list4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news__article-title {
  margin: 0 auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 500;
  color: darkblue;
  text-align: center;
  padding-top: 20px;
}

.news__article-text {
  margin: 15px auto;
  padding: 0 50px;
  max-width: 900px;
  font-size: 30px;
  color: darkblue;
}

.news__article-btn {
  margin: 0px auto;
  height: 100px;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__article-btn a {
  padding: 15px 60px 10px;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 30px;
  margin: 15px auto;
  -webkit-box-shadow: 0px 1px 5px blue;
          box-shadow: 0px 1px 5px blue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news__article-btn a:hover {
  -webkit-box-shadow: 0px 5px 5px blue;
          box-shadow: 0px 5px 5px blue;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #07076b;
}

@media (max-width: 900px) {
  .news__article {
    height: 340px;
  }
  .news__article4 {
    height: 320px;
  }
  .news__article-title {
    max-width: 500px;
    font-size: 40px;
  }
  .news__article-text {
    max-width: 500px;
    font-size: 20px;
  }
  .news__article-btn {
    max-width: 400px;
  }
  .news__article-btn a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .news__article {
    height: 470px;
  }
  .news__article4 {
    height: 410px;
  }
  .news__article-btn {
    margin-top: 20px;
  }
  .news__article-title {
    width: 280px;
    font-size: 30px;
  }
  .news__article-text {
    padding: 0 10px;
    width: 280px;
  }
  .news__article-btn a {
    font-size: 16px;
  }
}
